.productList {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	border-radius: var(--border-radius);
	background-color: var(--color-light);
	transition: all 0.5s ease-in-out;
    margin: 2rem 0 2rem 0;
}

.productList_wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	overflow: auto;
}

.productList_wrapper::-webkit-scrollbar {
	display: none;
}

.productItem {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-family: var(--font-family);
	color: var(--color-white);
	min-height: 4rem;
}

.productItem span {
    font-size: var(--text-font-size);
    color: var(--color-white);
}

.productName {
	flex-grow: 1;
}

.date {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}
.eventDay_wrapper {
    display: flex;
    flex-grow: 1;
    gap: 1rem;
}

