.productList {
    display: grid;
    row-gap: 1rem;
    grid-template-columns: 1fr;
    margin-block: 1rem;
}

.productList_wrapper::-webkit-scrollbar {
	display: none;
}

.productItem {
	display: grid;
	grid-template-columns: 5fr 1fr 2fr 25px; /* Columns: Name | Quantity | Date | Actions */
	margin-block: 0.5rem;
	align-items: center; /* Vertically center content */
	justify-content: center;
	font-size: var(--text-font-size);
	max-width: 98%;
}

.productItem h3 {
	margin: 0;
	width: fit-content;
}

.productName {
	flex-grow: 1;
}

.deleteButton {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 40%;
	width: 3rem;
	aspect-ratio: 2/1.5;
}
